body {
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 14px;*/
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Ashish's customization*/

.btn-all-post {
    border: none;
    padding: 0;
    background: none !important;
    color: #979797;
}

.cursor-pointer {
    cursor: pointer;
}

.img-modal {
    border: none;
    border-radius: 0;
    height: 50px;
}

/*End Ashish's customization*/

.page-header {
    margin-top: 100px;
}

/*Navigation*/
.nav-left {
    overflow: hidden;
}

a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #5587d7 !important;
    border-top: 3px solid transparent;
    color: #fff;
    font-weight: 600;
    font-size: 29px;
}

a.nav-item.is-tab {
    padding-right: 12px;
}

.navbar-brand {
    margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.navbar {
    /*height: 60px;*/
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .login-box {
        width: 90%
    }
}

.login-box .card {
    background: transparent;
    border: none;

}

.author-name {
    margin-top: 10px;
}

.navbar-default {
    /*background-color: #db282e;*/
}

.navbar-default .navbar-nav > li > a {
    /*color: #fff;*/
}

#close_initial_post {
    margin-bottom: 19px;
}

.form-post-textarea {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 10px;
}

/*Showing post*/
.submission-item {
    border: 1px solid #eaeef5;
    border-bottom: 2px solid #eaeef5;
    border-radius: 2px;
    padding: 0 1em;
    margin-bottom: .5em;
}

.submission-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submission-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.submission-item .side-voting {
    padding-right: 1em;
}

.submission-item .no-thumbnail {
    border-right: 1px solid #e7e7e7;
}

.side-voting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: .9;
}

.side-vote-icon {
    cursor: pointer;
    font-size: 17px;
}

.submission-item .side-voting:hover i {
    color: #cc002e !important;
}

.submission-item:hover {
    background-color: #f5f8fa;
}

.v-icon {
    font-weight: 600;
    font-size: 20px;
}

.go-gray, .go-gray a {
    color: #979797 !important;
}

.vote-number {
    font-size: 90%;
    font-weight: 700;
}

.submission-item .content {
    padding: 1em;
    padding-right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flex1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.submission-item .info {
    color: #979797;
    font-size: 80%;
}

.submission-item .info a {
    color: #979797;
    font-weight: 700;
}

.submission-item .title {
    display: inline-block;
    font-weight: 700;
    margin: 0;
}

.submission-item .title a {
    color: #333;
}

.v-ultra-bold {
    font-weight: 600;
    font-size: 17px;
}

.submission-item .actions {
    margin-top: 1em;
}

.flex-space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.submission-item .actions .left a {
    font-size: 13px;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 80px;
    color: #4c4b4b;
}

.comments-icon {
    font-size: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.submission-item .actions i {
    color: #657786;
    font-size: 17px;
    margin-left: 1em;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.submission-item .actions .count {
    margin-left: 1em;
}

.submission-item .actions .comments-icon:hover .count, .submission-item .actions .comments-icon:hover i {
    color: #2780E3;
    text-decoration: none;

}

.submission-item .actions .right a {
    font-size: 13px;
}

.submission-item .actions .date {
    color: #979797;
    font-size: 80%;
    font-weight: 400;
}

.submission-item .thumbnail {
    border: 1px solid #e3e3e3;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: .2rem;
    height: 78px;
}

/*For single post*/
.submission-header, .submission-submitter-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.submission-header {
    border-bottom: 1px solid #d8e2e7;
    padding: .7em .5em;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.submission-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.submission-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 9px;
}

.submission-submitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.submission-header .username {
    color: #333;
    font-weight: 700;
    font-size: 14px;
}

.submission-header .date {
    font-size: 13px;
    color: #777;
}

.flex-center, .flex-column-end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.submission-full .actions a {
    font-size: 13px;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #4c4b4b;
    cursor: pointer;
}

.submission-full .actions i {
    color: #657786;
    font-size: 17px;
    margin-left: 1em;
}

.go-red, .h-red:hover {
    color: #db6e6e !important;
}

.submission-full .actions .count {
    margin-left: .5em;
}

.fa-stack-bookmark {
    cursor: pointer;
    color: #777;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.go-red, .h-yellow:hover {
    color: #db6e6e !important;
}

.gif .profile-post-content, .img .profile-post-content, .link .profile-post-content {
    padding: 0;
    text-align: center;
    background: #f1f1f1;
}

.full-page .link-list-info {
    background: #fff;
}

.link-list-info {
    padding: 1em;
    text-align: left;
}

.play-gif, .submission-img-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.submission-img-title {
    width: 100%;
}

.submission-title {
    font-size: 20px;
    font-weight: 600;
}

/*.link-list-info a {*/
/*color: #343434;*/
/*display: inline-block;*/
/*}*/

#comments-section header {
    padding: 12px 15px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.v-bold {
    font-weight: 700;
}

.box-typical-inner.ui.threaded.comments {
    margin-top: 0;
}

.ui.comments {
    max-width: 100% !important;
}

.no-comments-yet {
    margin-top: 6%;
    margin-bottom: 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #979797;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui.comments > div {
    border-top: 1px solid #e9e9e9 !important;
    padding: 1em;
    padding-bottom: 0;
}

.comment .left, .comment .v-comment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment .v-comment-info {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.v-comment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.display-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment .left {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.comment .left, .comment .v-comment-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment .avatar {
    display: block;
    width: 1.8em;
    height: auto;
    margin-right: .3em;
}

.comment .avatar img, .comment img.avatar {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment .author {
    font-size: 1em;
    color: rgba(0, 0, 0, .87);
    font-weight: 700;
}

.comment .separator {
    margin-left: .5em;
    margin-right: .5em;
    color: #979797;
    font-weight: 700;
}

.comment .like-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.comment .v-icon, .comment [class*=" el-icon-"], .comment [class^=el-icon-] {
    font-size: 16px;
    color: #979797;
    cursor: pointer;
    margin-right: .5em;
}

.comment .like-button .count {
    font-weight: 700;
    font-size: 80%;
    color: #979797;
    margin-right: 1em;
}

.comment .text {
    font-size: .9em;
    word-wrap: break-word;
    color: #333;
    line-height: 1.5;
    margin: 1em 0;
}

.margin-left-1 {
    margin-left: 1em;
}

.el-dropdown {
    display: inline-block;
    position: relative;
    color: #606266;
    font-size: 14px;
}

.comment .actions-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.comment .date {
    color: #979797;
    font-size: 90%;
    cursor: pointer;
}

.comment .text {
    font-size: .9em;
    word-wrap: break-word;
    color: #333;
    line-height: 1.5;
    margin: 1em 0;
}

/*End*/

/*Writing a comment*/
.fixed-comment-form-wrapper {
    /*padding: 0 1em;*/
    margin-top: 1em;
}

.chat-input-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #a0a4a6;
    background: #f7f7f7;
    border-radius: 4px;
}

.relative {
    position: relative;
}

.el-textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
}

.chat-input-form textarea {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #f7f7f7;
    border: none;
    height: 43px;
    max-height: 250px;
    resize: none;
    font-size: 15px;
    padding: .78571429em 0 .78571429em 1em;
    color: #111;
    line-height: 1.2857;
    display: block;
    width: 100%;
}

.chat-input-form button {
    border: none;
    background: #f7f7f7;
    cursor: pointer;
    color: #bac0c3;
}
.margin-right-1 {
    margin-right: 1em!important;
    padding-left: 1em;
}
.flex-center {
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*End*/

/*!*Showing posts*!*/
/*!*Posts*!*/

/*.pinned-happening-title {*/
/*text-transform: uppercase;*/
/*color: #db282f;*/
/*font-size: 12px;*/
/*}*/

/*.posts {*/
/*list-style: none;*/
/*padding-left: 0;*/
/*}*/

/*.post {*/
/*!*border: 1px solid #eeeeee;*!*/
/*!*background: #fbfbfb;*!*/
/*padding: 0;*/
/*!*margin-top: 20px;*!*/
/*position: relative;*/
/*clear: both;*/
/*}*/

/*.short-message {*/
/*width: 100%*/
/*}*/

/*.posted-by .author-name a {*/
/*font-size: 14px;*/
/*!*color: #db282e;*!*/
/*}*/

/*.posted-by .highlighted {*/
/*!*color: #db282e;*!*/
/*text-transform: none;*/
/*}*/

/*.post-title {*/
/*margin-bottom: 10px;*/
/*}*/

/*.post-title a {*/
/*color: #444444;*/
/*font-size: 16px;*/
/*}*/

/*.read-more a {*/
/*!*color: #db282e;*!*/
/*font-style: italic;*/
/*}*/

/*!** Likes & comments*!*/
/*.like-comment-count .posts-like {*/
/*margin-top: 10px;*/
/*}*/

/*.like-comment-count .posts-like .likes-count-outer-wrapper, .posts-like .comments-count-outer-wrapper {*/
/*display: inline-block;*/
/*}*/

/*.like-comment-count .posts-like a {*/
/*cursor: pointer;*/
/*!*color: #b0aeaf;*!*/
/*text-decoration: none;*/
/*}*/

/*.like-comment-count .posts-like .likes-count-outer-wrapper a, .posts-like .likes-count-outer-wrapper .count, .posts-like .comments-count-outer-wrapper a, .posts-like .comments-count-outer-wrapper .count {*/
/*!*color: #b0aeaf;*!*/
/*}*/

/*!** Actual Comments *!*/
/*.comment-like-wraper {*/
/*margin-bottom: 15px;*/
/*padding-right: 10px;*/
/*}*/

/*.comment-like-wraper .posts-like {*/
/*border-bottom: 1px solid #cccccc;*/
/*background: #f2f2f2;*/
/*width: 100%;*/
/*padding: 5px;*/
/*margin-top: 10px;*/
/*}*/

/*.liked-this {*/
/*display: inline-block;*/
/*!*color: #E95420;*!*/
/*}*/

/*.liked-this a {*/
/*!*color: #db282e;*!*/
/*}*/

/*.comments-container .comment-listing-wrapper {*/
/*padding-bottom: 0;*/
/*}*/

/*.comments-container {*/
/*padding: 10px;*/
/*background: #f2f2f2;*/
/*width: 100%;*/
/*}*/

/*.load-more-comment {*/
/*font-size: 14px;*/
/*}*/

/*.load-more-comment a {*/
/*text-decoration: underline;*/
/*cursor: pointer;*/
/*!*color: #db282e;*!*/
/*text-decoration: none;*/
/*}*/

/*.comment-items {*/
/*padding: 0 0 5px 0;*/
/*}*/

/*.comments-container .comment {*/
/*padding: 5px 0 10px 5px;*/
/*}*/

/*.comments-container .comment .post-image img {*/
/*margin-right: 10px;*/
/*}*/

/*.comments-container .post-image img {*/
/*width: 35px;*/
/*height: 35px;*/
/*border: 1px solid #000;*/
/*margin-right: 10px;*/
/*margin-top: 5px;*/
/*float: left;*/
/*}*/

/*.comments-container .comment .comment-author {*/
/*font-size: 14px;*/
/*}*/

/*.comment-time-ago {*/
/*!*color: #b0aeaf;*!*/
/*font-size: 12px;*/
/*}*/

/*.comment-body-container {*/
/*height: 0;*/
/*}*/

/*.comments-container .comment .comment-body-container .comment-body {*/
/*font-size: 14px;*/
/*}*/

/*!** Write a comment *!*/
/*.comments-container.comment-form {*/
/*border-top: 2px solid #fff;*/
/*}*/

/*.comments-container.comment-form form {*/
/*background: transparent;*/
/*padding: 5px;*/
/*}*/

/*.comments-container.comment-form .post-image img {*/
/*margin-top: 0;*/
/*}*/

/*.comments-container .post-image img {*/
/*width: 35px;*/
/*height: 35px;*/
/*float: left;*/
/*border: 1px solid #000;*/
/*margin-right: 10px;*/
/*margin-top: 5px;*/
/*}*/

/*.comments-container .input-group {*/
/*margin-bottom: 0;*/
/*}*/

/*!*Font color*!*/
/*.comment-like-color {*/
/*!*color: #E95420;*!*/
/*}*/

/*.comment-like-color i:hover {*/
/*!*color: #E95420;*!*/
/*}*/

/*.like-button:hover {*/
/*text-decoration: none;*/
/*}*/

/*.like-button i {*/
/*!*color: #868e96;*!*/
/*}*/

/*.like-button i:hover {*/
/*!*color: #E95420;*!*/
/*text-decoration: none;*/
/*}*/

/*.like-button i::after {*/
/*!*color: #E95420;*!*/
/*}*/

/*.like-comment i {*/
/*!*color: #868e96;*!*/
/*}*/

/*.like-comment i:hover {*/
/*!*color: #E95420;*!*/
/*}*/

/*.text-date {*/
/*display: block;*/
/*}*/

/*.text-time {*/
/*display: block;*/
/*font-size: 12px;*/
/*}*/

/*.article-content img {*/
/*padding: 0.25rem;*/
/*max-width: 100%;*/
/*height: auto !important;*/
/*}*/

/*.one-date {*/
/*background: #E95420;*/
/*color: white;*/
/*}*/

/*.one-img-thumb {*/
/*padding: 0;*/
/*background-color: #fff;*/
/*border: 0;*/
/*border-radius: 70px;*/
/*}*/

/*.img-modal {*/
/*border: none;*/
/*border-radius: 0;*/
/*height: 50px;*/
/*}*/

/*.unplublished-posts {*/
/*border: 1px solid #e3e3e3;*/
/*}*/

/*.unpublished-posts h6 {*/
/*padding: 10px 0 10px 0;*/
/*margin-top: 0;*/
/*}*/

/*.unpublished-posts-listing {*/
/*list-style: none;*/
/*padding: 0;*/
/*}*/

/*.unpublished-posts-listing li {*/
/*margin-bottom: 20px;*/
/*}*/

/*.one-post-action {*/
/*margin: 5px 5px 0 0;*/
/*}*/

/*!** New *!*/
/*.sidebar-widgets {*/
/*!*padding-bottom: 120px;*!*/
/*}*/

/*.widget-wrap {*/
/*!*background: #fbfbfb;*!*/
/*!*padding: 20px 0px;*!*/
/*border: 1px solid #eee;*/
/*}*/

/*.widget-wrap .single-sidebar-widget {*/
/*margin: 30px 30px;*/
/*!*padding-bottom: 30px;*!*/
/*border-bottom: 1px solid #eee;*/
/*}*/

/*.widget-wrap .user-info-widget {*/
/*text-align: center;*/
/*}*/

/*.mb-20 {*/
/*margin-bottom: 20px;*/
/*}*/

/*.article-content {*/
/*width: 99.3%;*/
/*}*/

/*.meta-details {*/
/*text-align: right;*/
/*}*/

/*@media all and (min-width: 767px) {*/
/*.single-post .meta-details {*/
/*text-align: left;*/
/*}*/
/*}*/

/*.single-post .user-name a, .single-post .date a, .single-post .view a, .single-post .comments a {*/
/*color: #777777;*/
/*margin-right: 10px;*/
/*-webkit-transition: all 0.3s ease 0s;*/
/*-moz-transition: all 0.3s ease 0s;*/
/*-o-transition: all 0.3s ease 0s;*/
/*transition: all 0.3s ease 0s;*/
/*}*/
/*.lnr{*/
/*font-weight: 900;*/
/*color: #222;*/
/*}*/

/*!*Comment box*!*/
/*.comments-area {*/
/*background: #fafaff;*/
/*border: 1px solid #eee;*/
/*padding: 20px 20px;*/
/*}*/
/*.comments-area h4 {*/
/*text-align: center;*/
/*}*/
/*.comments-area .comment-list {*/
/*padding-bottom: 30px;*/
/*}*/
/*.comments-area .thumb {*/
/*margin-right: 20px;*/
/*}*/
/*.comments-area .date {*/
/*font-size: 13px;*/
/*color: #cccccc;*/
/*}*/

/*Footer*/
footer {
    border-top: 1px solid #cccccc;
    margin-top: 3%;
    padding-top: 1%;
}