<template>
    <div class="row justify-content-center">
        <div class="card text-white bg-primary mb-12"></div>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">About me.</div>

                <div class="card-body">
                    I'm the Ashish Jain
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {}
        },
        mounted() {

        },
        methods: {}
    }
</script>