<template>
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <div class="alert alert-danger" v-if="error">{{error}}</div>
                <form class="form-horizontal form-material" role="form" method="POST" @submit.prevent="login">

                    <h3 class="box-title m-b-20">Please Login</h3>
                    <div class="form-group has-error">
                        <div class="col-xs-12">
                            <input v-model="credential.email" type="text" placeholder="Email" class="form-control"
                                   required autofocus>
                            <span class="text-danger align-middle"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input v-model="credential.password" type="password" placeholder="Password"
                                   class="form-control" required>
                            <span class="text-danger align-middle"></span>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button type="submit"
                                    class="btn btn-primary btn-lg btn-block text-uppercase">Log In
                            </button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Forgot your password?
                                <a href="javasctipt:;" class="text-primary m-l-5" onclick="">
                                    <strong>Reset here!</strong>
                                </a>
                            </p>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import store from '../store/index';

    export default {
        data() {
            return {
                credential: {
                    email: '',
                    password: '',
                },
                error: false,
            }
        },
        methods: {
            login: function () {
                this.error = false;
                axios.post('/api/auth/login', {
                    email: this.credential.email,
                    password: this.credential.password,
                }).then(response => {
                    console.log(response.data.data);
                    store.commit('loginUser');
                    localStorage.setItem('token', response.data.data.api_token);
                    localStorage.setItem('user', JSON.stringify(response.data.data));
                    this.$router.push('/posts');
                    //To find another solution for below
                    this.$router.go({path: '/posts', force: true});

                }).catch(error => {
                    this.error = 'Invalid credentials.';
                });
            },
            resetData() {
                this.credential.email = '';
                this.credential.password = '';
            },
        },
        metaInfo() {
            return {title: 'Login'}
        },
    }
</script>