<template>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <!-- Branding Image -->
            <router-link to="/posts" class="navbar-brand">
                <img src="/images/logo.png" alt="Cactus Intranet logo" class="logo">
            </router-link>
            <!-- Collapsed Hamburger -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <!-- Left Side Of Navbar -->
                <ul class="navbar-nav" v-if="user">
                    <li class="nav-item">
                        <router-link to="/posts" class="nav-link">HOME</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="javscript:;" class="nav-link">ARTICLES</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="javscript:;" class="nav-link">GROUPS</router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download"
                           aria-expanded="false">MORE<span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href=javscript:;>ARIGATOS</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="http://sp.cactusglobal.com/"
                               target="_blank">SHAREPOINT</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://sp.cactusglobal.com/ims/Pages/default.aspx"
                               target="_blank">IMS</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=javscript:;>HR-BOARD</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href=javscript:;>IT SERVICE REQUEST</a>
                            <a class="dropdown-item" href="https://wiki.editage.com/" target="_blank">EDITAGE
                                WIKI</a>
                            <a class="dropdown-item" href="http://www.editage.com/insights/" target="_blank">EDITAGE
                                INSIGHTS</a>
                            <a class="dropdown-item" href="https://outlook.office.com/owa/" target="_blank">CACTUS
                                WEBMAIL</a>
                            <a class="dropdown-item" href="im:sip:itsupport@onecactus.com">CHAT WITH IT
                                SUPPORT<sup>Beta</sup> </a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://timetrack.cactusglobal.com/ess"
                           target="_blank">TIMETRACK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://itsupport.cactusglobal.com" target="_blank">IT SUPPORT</a>
                    </li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav ml-auto ">
                    <span v-if="user">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false" aria-haspopup="true">
                                {{user.name}}
                                <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="themes">
                                <!--@if(request()->user()->hasRole('admin'))-->
                                    <a class="dropdown-item" href=''>Admin</a>
                                <!--@endif-->
                                <a class="dropdown-item" href=''>Profile</a>
                                <a class="dropdown-item" href=''>Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" v-if="isLoggedIn" @click="logout"
                                   href="javascript:;">Logout</a>
                            </div>
                        </li>
                    </span>
                    <span v-else>
                        <li class="nav-item">
                            <router-link to="/login">
                                <a class="nav-link">Login</a>
                            </router-link>
                        </li>
                    </span>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    import store from '../store/index'

    export default {
        data() {
            return {
                isLoggedIn: localStorage.getItem('token') != null,
                user: JSON.parse(localStorage.getItem('user')),
            }

        },
        mounted() {
            this.setDefaults();
        },
        beforeMount() {
            this.authCheck();
        },
        methods: {
            setDefaults() {
                if (this.isLoggedIn) {
                    let user = localStorage.getItem('token');
                }
            },
            logout() {
                axios.get('/api/auth/logout').then(response => {
                    localStorage.clear();
                    store.commit('logoutUser');
                    this.isLoggedIn = false;
                    this.$router.push('/login');
                    //this.$router.go({path: '/login', force: true});
                });
            },
            authCheck() {
                axios.post('/api/auth/auth-status').then(response => {
                    if (!response.data.authenticated) {
                        this.logout();
                    }
                });
            }
        },
    }
</script>