<template>
    <div>
        <div class="row margin-bottom">
            <div class="col-sm-9">

                <!--Modal for creating a new post-->
                <button type="button" title="Create a post" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#exampleModal">
                    Create a post
                </button>

                <router-link v-bind:to="'/users/'" title="Refresh Posts">
                    <i class="fa fa-refresh fa-2x fa-fw float-right"></i>
                </router-link>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create a new post</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form enctype="multipart/form-data" class="form-post" @submit.prevent="submitAPost">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" v-model="form.title"
                                               placeholder="Title"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="post_body">What's on your mind?</label>
                                        <textarea class="form-control form-post-textarea" rows="3" id="post_body"
                                                  v-model="form.post_body" required></textarea>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="true" id="published"
                                                   v-model="form.published">
                                            Publish this article
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <div class="pull-right">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Share</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control search-form" placeholder="Search" name="term" id="term">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <div class="submission-item submission-wrapper" v-for="post in sortPost" :id="'post_'+post.id">

                    <!--Post like-->
                    <div class="side-voting cursor-pointer" v-on:click="like(post.id)" :id="'postLike_'+post.id">
                        <div :id="'postHeart_'+post.id">
                            <!--<i v-if="post.total_likes" class="fa fa-heart v-icon go-red" aria-hidden="true"-->
                            <!--title="Like a post"></i>-->

                            <i class="fa fa-heart-o v-icon go-gray" aria-hidden="true"
                               title="Like a post"></i>
                        </div>

                        <div class="vote-number go-gray" :id="'postLikeCount_'+post.id">
                            <span v-if="post.total_likes">{{post.total_likes.length}}</span>
                            <span v-else>0</span>
                        </div>
                    </div>

                    <!--Image-->
                    <img v-bind:src="post.photo" class="thumbnail pointer">

                    <!--Content-->
                    <div class="flex1 content link">
                        <div class="info">By
                            <router-link v-bind:to="'/users/'+post.user_id"><strong>{{post.user_name}}</strong>
                            </router-link>
                        </div>
                        <h3 class="title">
                            <router-link v-bind:to="'/posts/'+post.sef_url" class="flex-space v-ultra-bold">
                                {{post.title}}
                            </router-link>
                        </h3>

                        <div class="actions flex-space">
                            <div class="left">
                                <router-link v-bind:to="'/posts/'+post.sef_url" class="comments-icon" title="Comments">
                                    <i class="fa fa-comment-o v-icon margin-left-0" aria-hidden="true"></i>
                                    <span class="count text-muted" :class="'count data-count_'+post.id">
                                        <span v-if="post.total_comments">{{post.total_comments.length}}</span>
                                        <span v-else>0</span>
                                    </span>
                                </router-link>
                                <a href="javascript:;" class="bookamrks-icon" title="Bookmark">
                                    <i class="fa fa-bookmark-o v-icon pointer el-tooltip item v-bookmark"
                                       aria-hidden="true"></i>
                                </a>
                                <div class="margin-left-1 more-icon el-dropdown">
                                    <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" title="View All"
                                            class="btn btn-sm btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-all-post">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="javascript:;"
                                           data-toggle="modal" :data-target="'#likesModal_'+post.id"
                                           v-on:click="viewLikes(post.id)">Likes users
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="right">
                                {{post.updated_at_date}} days
                            </div>
                        </div>
                    </div>

                    <!--Modal for viewing all likes users-->
                    <div class="modal fade" :id="'likesModal_'+post.id" tabindex="-1" role="dialog"
                         aria-labelledby="likesModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="likesModalLabel">Users who liked this post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" :class="'modal_body_'+post.id">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                form: {
                    title: '',
                    post_body: '',
                    published: true

                },
                posts: [],
            }
        },
        mounted() {
            this.userId = JSON.parse(localStorage.getItem('user')).id;
            axios.get('/api/posts').then(response => {
                this.posts = response.data.data;
                // for (var key in this.posts.data) {
                //     //console.log(key + ' = >' + this.posts.data[key]['total_likes']);
                //     for (var keyLike in this.posts.data[key]['total_likes']) {
                //         console.log(this.posts.data[key]['total_likes'][keyLike]);
                //     }
                // }
            });
            CKEDITOR.replace('post_body', {
                height: '200',
                filebrowserUploadMethod: 'form',
                filebrowserUploadUrl: '/api/upload-image',
                filebrowserImageUploadUrl: '/api/upload-image'
            });

        },
        filters: {
            truncate: function (value, stop = 100, clamp) {
                return value.slice(0, stop) + (stop < value.length ? clamp || '...' : '');
            },
            strip: function (value) {
                return value.replace(/<\/?[^>]+(>|$)/g, "");
            },
        },
        methods: {
            submitAPost: function () {
                var formData = {
                    post_title: this.form.title,
                    post_body: CKEDITOR.instances.post_body.getData(),
                    published: this.form.published,
                };
                console.log(formData);
                axios.post('/api/posts', formData).then(response => {
                    console.log(response.data)
                });
            },
            like: function (postId) {
                var post_id = postId;

                axios.post('/api/likes', {post_id}).then(response => {
                    if (response.data.msg === 'success') {
                        $('#postHeart_' + postId).children('i').removeClass('fa-heart-o').addClass('go-gray');
                        $('#postHeart_' + postId).children('i').addClass('fa-heart').addClass('go-red');
                        $('#postLikeCount_' + postId).children('span').text(response.data.count);
                        //this.userId === response.data.logged_id ? this.classA = 'fa fa-heart' : this.classA = 'fa fa-heart-o';

                    } else {
                        $('#postHeart_' + postId).children('i').removeClass('fa-heart').addClass('go-red');
                        $('#postHeart_' + postId).children('i').addClass('fa-heart-o').addClass('go-gray');
                        $('#postLikeCount_' + postId).children('span').text(response.data.count);
                    }
                });
            },
            viewLikes: function (post_id) {
                axios.post('/api/get-post-users', {post_id}).then(response => {
                    $('.modal_body_' + post_id).empty();
                    console.log(response.data);
                    var row = $('<div>', {class: 'row'}).appendTo('.modal_body_' + post_id);
                    $.each(response.data, function (index, value) {
                        var col = $('<div>', {class: 'col-sm-6'}).appendTo(row);
                        var link = $('<a>', {class: 'text-primary', href: '/users/' + value.id}).appendTo(col);
                        var image = (value.file == null) ? '/images/default-grav.jpg' : value.file;
                        $('<img>', {src: image, class: 'img-thumbnail img-modal'}).appendTo(link);
                        $('<span>', {text: value.name}).appendTo(link);
                    });

                });
            },
        },
        computed: {
            sortPost: function () {
                return _.orderBy(this.posts.data, 'id', 'desc');
            }
        }
    }
</script>