<template>
    <div class="row justify-content-center">
        <div class="card text-white bg-primary mb-12"></div>
        <div class="col-md-12">
            <div class="card card-default">
                <div class="card-header">Home</div>

                <div class="card-body">
                    Laravel 5.7 - Users dashboard
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        name:'Users'
    }
</script>


