<template>
    <div>
        <div class="row">
            <div class="col-sm-9">
                <!--Showing complete post & comments-->
                <div class="col-full flex1">
                    <div class="submission-wrapper submission-full">

                        <!--Article title & Post-->
                        <article class="flex1 box-typical profile-post link">
                            <div class="submission-header user-select">
                                <div class="submission-header-container">
                                    <div class="submission-submitter-wrapper">
                                        <router-link v-bind:to="'/users/'+post.user_id" class="desktop-only">
                                            <img v-bind:src="post.photo" :alt="post.user_name"
                                                 class="submission-avatar">
                                        </router-link>
                                        <div class="submission-submitter">
                                            <router-link v-bind:to="'/users/'+post.user_id" class="username">
                                                @{{post.user_name}}
                                            </router-link>
                                            <span class="date el-tooltip">{{post.updated_at_date}} days</span>
                                        </div>
                                    </div>
                                    <div class="actions flex-center">
                                        <a v-on:click="like(post.id)">
                                            <i v-bind:class="postLike" class="fa v-icon go-gray" aria-hidden="true"
                                               title="Like a post"></i>

                                            <span class="count" v-text="postCount"></span>
                                        </a>
                                        <a class="fa-stack-bookmark">
                                            <i class="fa fa-bookmark-o v-icon pointer go-gray h-yellow"
                                               aria-hidden="true"></i>
                                        </a>


                                        <div v-if="post.user_id==globalUserId"
                                             class="margin-right-1 more-icon el-dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false" title="View All"
                                                    class="btn btn-sm btn btn-outline-primary dropdown-toggle dropdown-toggle-split btn-all-post"></button>
                                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                                <a href="javascript:;" data-toggle="modal" class="dropdown-item">
                                                    Edit</a>
                                                <a href="javascript:;" data-toggle="modal" class="dropdown-item">
                                                    Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="profile-post-content full-page">
                                <div class="link-list-info flex-space">
                                    <span class="submission-img-title">
                                        <h1 class="submission-title" v-text="post.title"></h1>
                                    </span>
                                </div>
                            </div>
                            <div class="link-list-info" v-html="post.text"></div>
                        </article>

                        <!--Article -->
                    </div>

                    <!--Comments-->
                    <section id="comments-section">
                        <header class="user-select flex-space">
                            <div class="v-bold">
                                <span v-if="post.total_comments">{{post.total_comments.length}}</span>
                                <span v-else>0</span> Comments
                            </div>
                        </header>

                        <div class="box-typical-inner ui threaded comments" v-if="post.total_comments"
                             v-for="comment in post.total_comments">
                            <div class="comment v-comment-wrapper">
                                <div class="content">
                                    <div class="v-comment-info">
                                        <div class="display-flex">
                                            <div class="left">
                                                <router-link v-bind:to="'/users/'+comment.user_id"
                                                             class="avatar user-select">
                                                    <img v-bind:src="comment.comment_photo" :alt="comment.user_name">
                                                </router-link>

                                                <router-link v-bind:to="'/users/'+comment.user_id"
                                                             class="author user-select">
                                                    @{{comment.user_name}}
                                                </router-link>

                                                <span class="separator">·</span>

                                                <a class="like-button">
                                                    <i class="fa fa-heart-o v-icon" aria-hidden="true"></i>
                                                    <span class="count" v-if="comment.total_comments_likes">
                                                        {{comment.total_comments_likes.length}}
                                                    </span>
                                                    <span class="count" v-else>0</span>
                                                </a>

                                                <i class="fa fa-bookmark-o v-icon margin-left-1" aria-hidden="true"></i>

                                                <i class="fa fa-reply-all v-icon margin-left-1" aria-hidden="true"></i>

                                                <i class="fa fa-trash-o v-icon margin-left-1" aria-hidden="true"></i>

                                                <button type="button"
                                                        class="btn btn-sm btn-outline-primary margin-left-1">Edit
                                                </button>
                                            </div>
                                        </div>
                                        <div class="actions-right">
                                            <a class="date">18 hours</a>
                                        </div>
                                    </div>

                                    <!--Comments only-->
                                    <div class="text">
                                        {{comment.text}}
                                    </div>
                                </div>
                            </div>

                            <!--<span class="no-comments-yet">No comments here yet. Care to be the first one?</span>-->
                        </div>
                    </section>
                </div>

                <!--For writing a comment-->
                <div id="comment-form" class="fixed-comment-form-wrapper">
                    <form class="chat-input-form relative">
                        <div class="el-textarea">
                            <textarea placeholder="Type your comment..." name="comment" id="comment-form-textarea"
                                      maxlength="5000" type="textarea" autosize="true" rows="2" autocomplete="off"
                                      validateevent="true" class="el-textarea__inner"
                                      style="min-height: 43px; height: 43px;"></textarea>
                        </div>
                        <button type="submit">
                            <i class="fa fa-paper-plane v-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                post: {},
                postCount: 0,
                postLike: 'fa-heart-o',
                globalUserId: globalUserId,
            }
        },
        mounted() {
            this.viewAPost();
        },
        methods: {
            viewAPost: function () {
                let post = this.$route.params.post_slug;
                axios.get('/api/posts/' + post).then(response => {
                    this.post = response.data.post;
                    this.postCount = (response.data.post.total_likes === undefined) ? 0
                        : (response.data.post.total_likes.length);

                    let likeData = response.data.post.total_likes;
                    for (let key in likeData) {
                        if (likeData[key].user_id === globalUserId) {
                            this.postLike = 'fa-heart';
                            break;
                        }
                    }
                });
            },
            like: function (post_id) {
                axios.post('/api/likes', {post_id}).then(response => {
                    this.postCount = response.data.count;
                    this.postLike = (response.data.msg == 'success') ? 'fa-heart' : 'fa-heart-o';
                });
            }
        }
    }
</script>