<template>
    <div>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label>Project name</label>
                <input type="text" class="form-control" placeholder="Enter project name" v-model="projects.name">
            </div>
            <div class="form-group">
                <label>Project description</label>
                <textarea class="form-control" placeholder="Enter project description"
                          v-model="projects.description"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>
<script>
    export default {

        data() {
            return {
                credential: {
                    email: '',
                    password: '',
                },
            }
        },
        methods: {
            onSubmit: function () {
                axios.post('/login', {
                    name: this.credential.email,
                    description: this.credential.password,
                }).then(response => {
                    console.log(response.data);
                this.resetData();
                //this.projects.push(response.data);
                //this.projects.push([{name: 'AJ', description: 'Hello world'}]);
                //this.$emit('Added');
                });
            },
            resetData() {
                this.projects.name = '';
                this.projects.description = '';
            },
        },


    }
</script>